
.work-list img{
    width: 70px;
    height: 70px;
}
.work-list li{
    padding: 5px 0 5px 5px;
    display: flex;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.46);
}
.work-info {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}
.line-2{
    margin-top: 5px;
}